<p>
  <mat-toolbar fxLayout fxLayoutAlign="start center" fxLayoutGap="2vw">
    <img src="assets/imagedisc.png" alt="logo">
    <span> My LP Collection </span>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <form #myForm="ngForm" 
      (ngSubmit)="albumList"
      fxLayout="column row" fxLAyoutGap="2vw">
        
        <mat-form-field>
          <input type="text" 
          name="albumName" 
          placeholder="Album" 
          ngModel matInput>
        </mat-form-field>

        <mat-form-field>
          <input type="text" 
          name="artistName" 
          placeholder="Artist" 
          ngModel matInput>
        </mat-form-field>
       
        <mat-slider min="0" max="10" step="1" value="5" 
          name="rating" thumbLabel
          ngModel> 
        </mat-slider>
        

       <mat-form-field>
          <input type="text" 
          name="albumCover" 
          placeholder="Album cover image(URL)" 
          ngModel matInput>
        </mat-form-field>

        <div fxLayoutAlign="space-between">
          <button type="reset" mat-button mat-raised-button 
            value="Clear" >
            <mat-icon>clear</mat-icon>
            <span>Clear</span>
          </button>
          <button type="submit" mat-button mat-raised-button 
            value="Add">
            <mat-icon>add</mat-icon>
            <span>Add</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</p>